<div class="container">
    <div class="column">
        <h1>The best way to do your tasks and have fun!</h1>
        <div class="descriptionText">
            <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. <br>
        </div>
        <a class="url" href="url">See it in action <fa-icon [icon]="faPlay"></fa-icon></a>

        <h2 class="usersOpinionTittle">What our users think?</h2>
        <div class="userCard">
            <div class="userCardLeft">
                <fa-icon class="userFavCard" [icon]="faUser"></fa-icon>
            </div>
            <div class="userCardright">
                <div class="userTittleCard">John Louis</div>
                <!-- <br> -->
                <div class="userTextCard">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.</div>
            </div>
            
            
        </div>
    </div>
    <div class="column right">
        <img class="bubbles" src="https://i.imgur.com/RfAt7Ff.png" alt="bubbles">
        <!-- BUBBLES -->
    </div>
</div>
