<div class="container">
    <form #dareInfo *ngIf="taskOrDare == 'dare'" (ngSubmit)="addDare(dareInfo)">
        <h1 class="tittle">Add/Edit Dare -> {{this.userChallengedName}}</h1>
        <input type="text" name="name" placeholder="Name" ngModel />
        <input type="text" name="description" placeholder="Description" ngModel />
        <input type="text" name="points" placeholder="Points" ngModel />
        <br>Your points: <b>{{this.groupChallengerPoints}}</b><br>
        Deadline: <input type="date" name="date" placeholder="Date" ngModel />
        <br>
        <button *ngIf="buttonsShow" type="submit" value="submit" class="buttonRose buttonRoseGoal">Add Dare</button>
    </form>

    <form #taskInfo *ngIf="taskOrDare == 'task'" (ngSubmit)="addTask(taskInfo)">
        <h1 class="tittle">Add/Edit Task</h1>
        <h2>Group: {{this.groupChallengedName}}</h2>
        <input type="text" name="name" placeholder="Name" ngModel />
        <input type="text" name="description" placeholder="Description" ngModel />
        <input type="text" name="points" placeholder="Points" ngModel />
        <br>Your points: <b>{{this.groupChallengerPoints}}</b><br>
        Deadline: <input type="date" name="date" placeholder="Date" ngModel />
        <br>
        <button *ngIf="buttonsShow" type="submit" value="submit" class="buttonRose buttonRoseGoal">Add Task</button>
    </form>
</div>