<div class="container">
	<div class="columnLeft">
		<div class="title">
			<img class="image inline vertical" src="../../assets/goal.png">
			<h3 class="inline leftspace"> Goals </h3>
		</div>
	</div>
	<div class="columnRight">
		<!-- AHAHAHA -->
	</div>
</div>

<div class="table">
	<div class="table-header">
		<div class="header__item"><a id="name" class="filter__link" href="#">Group Name</a></div>
		<div class="header__item"><a id="wins" class="filter__link filter__link--number" href="#">Goal Name</a></div>
		<div class="header__item"><a id="draws" class="filter__link filter__link--number" href="#">Goal Description</a>
		</div>
		<div class="header__item"><a id="losses" class="filter__link filter__link--number" href="#">Goal Time Left</a>
		</div>
		<div class="header__item"><a id="total" class="filter__link filter__link--number" href="#">%</a></div>
		<div class="header__item"><a id="total" class="filter__link filter__link--number" href="#"></a></div>
	</div>
	<div class="table-content">
		<div class="table-row">
			<div class="table-data">Group#1</div>
			<div class="table-data">Goal Name#1</div>
			<div class="table-data">Goal Description #1</div>
			<div class="table-data">10 days</div>
			<div class="table-data">20%</div>
			<div class="table-data link" [routerLink]="['/usergoal']">⋯</div>
		</div>
		<div class="table-row">
			<div class="table-data">Group#1</div>
			<div class="table-data">Goal Name#1</div>
			<div class="table-data">Goal Description #1</div>
			<div class="table-data">10 days</div>
			<div class="table-data">20%</div>
			<div class="table-data link" [routerLink]="['/usergoal']">⋯</div>
		</div>
		<div class="table-row">
			<div class="table-data">Group#1</div>
			<div class="table-data">Goal Name#1</div>
			<div class="table-data">Goal Description #1</div>
			<div class="table-data">10 days</div>
			<div class="table-data">20%</div>
			<div class="table-data link" [routerLink]="['/usergoal']">⋯</div>
		</div>
	</div>
</div>