<div class="container">
    <div class="columnLeft">
        <div class="title">
            <img class="image inline vertical" src="../../assets/goal.png">
            <h3 class="inline leftspace pointer" [routerLink]="['/usergoals']"> Goals </h3>
        </div>
    </div>
    <div class="columnRight">
        <!-- AHAHAHA -->
    </div>
</div>
<div class="center">
    <h1>Goal Name#1</h1>
</div>

<div class="table">

    <h2 class="tasks">Tasks:</h2>
    <div class="threePart">
        Task Description
        <fa-icon class="favIconTrash" [icon]="faUpload"></fa-icon>
        <a class="imgPath">
            ..//imagepath
        </a>
        <input class="checkbox" type="checkbox">
    </div>
    <div class="threePart">
        Task Description
        <fa-icon class="favIconTrash" [icon]="faUpload"></fa-icon>
        <a class="imgPath">
            ..//imagepath
        </a>
        <input class="checkbox" type="checkbox">
    </div>
</div>