<div class="container">
    <div class="columnLeft">
        <div class="title">
            <img class="image inline vertical" src="/taskordare-frontend/assets/groups.png">
            <h2 class="inline leftspace grouptitle"> Groups </h2>
        </div>
        <!-- <button class="button" (click)="showJoinGroup()">-> Join</button> -->
        <div class="border">
            <div class="titleGroups">⮟ My Groups ⮟</div>
            <div class="myGroups" id="myGroups" *ngFor="let group of groupsOfUser">
                <a class="groups" (click)="showGroupAndTasks(group)">{{group.groupName}}</a>
                <!-- <a class="groups" (click)="showGroupAndGoals()">Group 1</a>
                <br>
                <a class="groups" (click)="showGroupAndGoals()">Group 2</a>
                <br>
                <a class="groups" (click)="showGroupAndGoals()">Group 3</a>
                <br>
                <a class="groups" (click)="showGroupAndGoals()">Group 4</a> -->
            </div>
        </div>
        <button class="button" (click)="showCreateGroup()">+ Create</button>

    </div>
    <div class="columnRight">

        <!-- * Members and Goals of a GROUP -->
        <div *ngIf="this.divName == 'membersTaks'">
            <a class="superSmall">GroupId: {{this.groupDetail.groupId}}</a>
            <h1 class="groupTitle">{{this.groupDetail.groupName}}</h1>
            <a class="medium">{{this.groupDetail.points}}</a><br>
            <a class="mediumSmall">{{this.groupDetail.permission <= 1 ? this.groupDetail.permission == 0 ? 'Creator' : 'Admin' : 'Normal'}}</a>
            <h4 class="groupDescription">{{groupDetail.description}}</h4>
            <div class="groupContainer">
                <!-- <br> -->
                <div class="groupColumnLeft">
                    <div class="membersBorder">
                        <div class="titleGroups">⮟ Members ⮟</div>
                        <div class="allMembers" *ngFor="let member of membersOfGroup">
                            <div class="checkIfIsOwnUser" *ngIf="member.id != userId">
                                <a class="membersOfGroup" [routerLink]="['/usergroups']">{{member.userName}}</a>
                                <fa-icon class="favIconMemberOption" (click)="member.showOptions = !member.showOptions" [icon]="faEllipsisV"></fa-icon>
                                <div *ngIf="member.showOptions" class="options">
                                    <a class="addDare" [routerLink]="['/createeditdaretasks']" [queryParams]="{taskOrDare: 'dare', userChallengedId: member.id, userChallengedName: member.userName}">Add Dare</a>
                                    <fa-icon *ngIf="this.groupDetail.permission <= 1" (click)="member.promotePlayerShow = !member.promotePlayerShow" class="favIconAdd" [icon]="faUpLong"></fa-icon>
                                    <br *ngIf="member.promotePlayerShow">
                                    <a class="addDare" *ngIf="member.promotePlayerShow" (click)="PromoteMember(member.id, groupDetail.groupId, member.userName)">Promote Member</a>
                                    <br *ngIf="member.promotePlayerShow">

                                    <fa-icon *ngIf="this.groupDetail.permission <= 1" (click)="removeMember(member.id, groupDetail.groupId, member.userName)" class="favIconTrash" [icon]="faTrash"></fa-icon>
                                </div>  
                            </div>
                        </div>
                    </div>
                    <div *ngIf="this.groupDetail.permission == 1" class="membersBorder">
                        <form #userEmailForm (ngSubmit)="addUserByEmail(userEmailForm)"> 
                            <input type="text" class="inputEmail" name="email" placeholder="User Email" ngModel />
                            <button type="submit" value="submit" class="buttonAddUserByEmail">
                                <fa-icon class="favIconAdd" type="submit" value="submit" [icon]="faPlus"></fa-icon>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="groupColumnRight">
                    <div class="groupColumn goalsBorder">
                        <div class="titleGroups">⮟ Tasks ⮟</div>
                        <div class="allGoals" *ngFor="let task of tasksOfGroup">
                            <a class="goalName" [routerLink]="['/usergroups']">{{task.taskName}}</a>
                            <a class="goalDescription">{{task.description}}</a>
                            <br>
                        </div>
                        <div class="addGoal">
                            <br>
                            <a class="" [routerLink]="['/createeditdaretasks']" [queryParams]="{taskOrDare: 'task', groupChallengedId: this.groupDetail.groupId, groupChallengedName: this.groupDetail.groupName, groupChallengerPoints: this.groupDetail.points}">
                                <fa-icon class="favIconAddTask" [icon]="faPlus"></fa-icon>
                            </a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- * Create individual dare -->
        <div *ngIf="this.divName == 'createDare'" class="groupContainer">
            <div class="groupColumnRight">
                <div class="groupColumn goalsBorder">
                    <!-- <div class="titleGroups">Create Dare to Member#2</div>
                    <form #dareInformation (ngSubmit)="addDare(dareInformation)">
                        <div class="loginForm">
                            <input type="text" name="title" placeholder="Title" ngModel />
                            <input type="text" name="description" placeholder="Description" ngModel />
                            <input type="text" name="points" placeholder="Points" ngModel />
                        </div>

                        <button type="submit" value="submit" class="buttonRose"> Add </button>
                    </form> -->
                </div>
            </div>
        </div>
        <!-- * Create Group -->
        <div *ngIf="this.divName == 'createGroup'" class="groupContainer">
            <div class="groupColumnRight">
                <div class="groupColumn goalsBorder">
                    <div class="titleGroups">Create Group</div>
                    <form #groupInformation (ngSubmit)="createGroup(groupInformation)">
                        <div class="loginForm">
                            <input type="text" name="name" placeholder="Name" ngModel />
                            <input type="text" name="description" placeholder="Description" ngModel />
                        </div>

                        <button type="submit" value="submit" class="buttonRose"> Add </button>
                    </form>
                </div>
            </div>
        </div>
        <!-- * Join Group -->
        <div *ngIf="this.divName == 'joinGroup'" class="groupContainer">
            <div class="groupColumnRight">
                <div class="groupColumn goalsBorder">
                    <div class="titleGroups">Join Group</div>
                    <form #groupInformation (ngSubmit)="joinGroup(groupInformation)">
                        <div class="loginForm">
                            <input type="text" name="groupname" placeholder="Group Name" ngModel />                        </div>

                        <button type="submit" value="submit" class="buttonRose"> Join </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>