$secondary-color: #FFB3B3;
$third-color: #c1efff;

.container {
  display: flex;
}
.columnLeft {
  flex: 25%;
  text-align: center;
}
.columnRight {
  flex: 75%;
  text-align: center;
}

.title {
  margin: 10px;
}

.groupAdmin{
  font-size: 20px;
}

.favIconTrash{
  margin-left: 15px;
  // color: red !important;
  cursor: pointer;
  border-radius: 40%;
  // font-size: 4rem;
}
.favIconTrash:hover{
  background-color: red;
}

.inputEmail{
  // background-color: blue;
  width: 60%;
  margin-right: 0px;
  margin-left: 0px;
}

.favIconAdd{
  margin-left: 2px;
  cursor: pointer;
  border-radius: 40%;
}
.favIconAdd:hover{
  background-color: $third-color;
}

.favIconAddTask{
  padding: 2px;
  cursor: pointer;
  border-radius: 40%;
  margin-bottom: 10px;
}
.favIconAddTask:hover{
  background-color: $third-color;
}

.favIconMemberOption{
  margin-left: 5px;
  cursor: pointer;
  padding: 3px;
  border: 10px;
  border-radius: 30%;
}
.favIconMemberOption:hover{
  background-color: $third-color;
}

.image {
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  height: 30%;

	//TODO: Do this shit better
	overflow: hidden;
  -webkit-border-radius: 180px;
  -moz-border-radius: 180px;
  -ms-border-radius: 180px;
  -o-border-radius: 180px;
  border-radius: 180px;
  /* the rest */
  position: relative; /* for the overlay later */
  margin: 0px auto;
  text-align: center;
  // margin-bottom: 8px;
  border: 3px solid #FFF;
  // -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),inset 0px 3px 8px rgba(0, 0, 0, 0.3);
  // -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3),inset 0px 3px 8px rgba(0,0,0,0.3);
  // box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),inset 0px 3px 8px rgba(0, 0, 0, 0.3);
}

.inline {
	display: inline-block;
}

.leftspace {
  margin-left: 10px;
}

.vertical {
  vertical-align: middle;
}

.button{
	margin-right: 20%;
	margin-left: 20%;
	margin-top: 20px;

	width: 30%;
	background-color: rgba(255, 255, 255, 0);
	border: 4px solid rgb(255, 255, 255);
  border-radius: 15px;
	
  color: rgb(255, 255, 255);
  // padding: 14px 28px;

  cursor: pointer;
}

.button:hover{
	background-color: $third-color;
}

.border{
	margin: 20px;
	
	margin-right: 10%;
	margin-left: 10%;
	width: 80%;

	background-color: rgba(255, 255, 255, 0);
	border: 4px solid rgb(255, 255, 255);
  border-radius: 15px;
	
  color: rgb(255, 255, 255);
}

.titleGroups{
	font-size: 30px;
}

.groups{
	font-size: 23px;
  cursor: pointer;
}

.groups:hover{
  color:#c1efff;
}

.membersOfGroup{
	font-size: 23px;
  cursor:default;
  text-decoration: none;
}

.goalName{
	font-size: 23px;
}
.goalName:hover{
	color:$third-color;
}

.goalDescription{
	font-size: 20px;
  margin-left: 10px;
  cursor:default;
}


.groupTitle{
	font-size: 2.2rem;
	margin: 0px;
	margin-top: 10px;
}

.groupDescription{
	font-size: 1.3rem;
	margin: 0px;
}

.membersBorder{
	margin: 20px;
	
	width: 80%;

	background-color: rgba(255, 255, 255, 0);
	border: 4px solid rgb(255, 255, 255);
  border-radius: 15px;
	
  color: rgb(255, 255, 255);
}

.goalsBorder{
	margin: 20px;
	

	width: 90%;

	background-color: rgba(255, 255, 255, 0);
	border: 4px solid rgb(255, 255, 255);
  border-radius: 15px;
	
  color: rgb(255, 255, 255);
}

.groupContainer {
  display: flex;
}
.groupColumnLeft {
  flex: 25%;
  text-align: center;
}

.groupColumnRight {
  flex: 75%;
  text-align: center;
}

.buttonAddUserByEmail {
  background-color: transparent;
  border-color: transparent;
  border-radius: 30px;
}

.superSmall{
  margin-left: 5px;
  font-size: 26px;
  color: #ffb3b3f0;
}

.mediumSmall{
  margin-left: 5px;
  font-size: 22px;
}

.medium{
  margin-left: 5px;
  font-size: 26px;
}

.addDare{
	font-size: 18px;
  cursor: pointer;
}

.addDare:hover{
  background-color: #c1efff;
  border-radius: 10px;
}