.container {
    display: flex;
  }
  .columnLeft {
    flex: 33.33%;
    text-align: center;
  }
  .columnRight {
    flex: 66.66%;
    text-align: center;
  }
  .center{
    margin-top: 0px;
    text-align: center;
  }
  
  .title {
    margin: 20px;
  }
  
  .image {
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: 30%;
  
      //TODO: Do this shit better
      overflow: hidden;
    -webkit-border-radius: 180px;
    -moz-border-radius: 180px;
    -ms-border-radius: 180px;
    -o-border-radius: 180px;
    border-radius: 180px;
    /* the rest */
    position: relative; /* for the overlay later */
    margin: 0px auto;
    text-align: center;
    // margin-bottom: 8px;
    border: 3px solid #FFF;
    // -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),inset 0px 3px 8px rgba(0, 0, 0, 0.3);
    // -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3),inset 0px 3px 8px rgba(0,0,0,0.3);
    // box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),inset 0px 3px 8px rgba(0, 0, 0, 0.3);
  }
  
  .inline {
      display: inline-block;
  }
  
  .leftspace {
    margin-left: 10px;
  }
  
  .vertical {
    vertical-align: middle;
  }
  


$color-form-highlight: #EEEEEE;
$primary-color: white;
$secondary-color: #FFB3B3;
$third-color: #c1efff;

.table {
  margin-left: 5%;
  margin-right: 5%;
	width: 90%;
	border:1px solid $color-form-highlight;
}

.table-header {
	display:flex;
	width:100%;
	background: wheat;
	padding:(12px * 1.5) 0;
}

.table-row {
	display:flex;
	width:100%;
	padding:(12px * 1.5) 0;
  // background-color: $third-color;
	
	// &:nth-of-type(odd) {
	// 	background: $secondary-color;
	// }
}

.table-data, .header__item {
	flex: 1 1 20%;
	text-align:center;
}

.header__item {
  font-size: 20px;
  font-weight: bolder;
	text-transform:uppercase;
}

.link{
  cursor: pointer;
}

.link:hover{
  color: $third-color;
  // margin: 10px white;
  border: 3px solid $third-color;
  border-radius: 10px;
}

.filter__link {
	color:white;
	text-decoration: none;
	position:relative;
	display:inline-block;
	padding-left:24px;
	padding-right:24px;
	
	&::after {
		content:'';
		position:absolute;
		right:-(12px * 1.5);
		color:white;
		font-size:12px;
		top: 50%;
		transform: translateY(-50%);
	}
	
	&.desc::after {
		content: '(desc)';
	}

	&.asc::after {
		content: '(asc)';
	}
	
}

.favIconTrash {
  margin-left: 15px;
  // color: red !important;
  cursor: pointer;
  border-radius: 40%;
  // font-size: 4rem;
}
.favIconTrash:hover {
  background-color: $third-color;
}