*{
    box-sizing: border-box;
}


.row{
    display:grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 100%;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    height: 300px;
    border-radius: 80%;
    padding: 20px;
 }

 .image {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
   //  margin: 50px;
   //  max-width: 200px;
   //  border-radius: 80%;
 }

 .circle {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    background-color: #fdfdfd;
    border-radius: 80%;
  }

  .circleCircle { 
    display: inline-block;
   //  margin-left: auto;
   //  margin-right: auto;
   //  position: relative;
    width: 80%;
   //  height: 100%;
   //  border-radius: 50%;
   //  background-color: #f1cc96;
    margin: 10px 10px 10px 10px;

    //TODO: Do this shit better
	overflow: hidden;
   -webkit-border-radius: 180px;
   -moz-border-radius: 180px;
   -ms-border-radius: 180px;
   -o-border-radius: 180px;
   border-radius: 180px;
   /* the rest */
   position: relative; /* for the overlay later */
   margin: 0px auto;
   text-align: center;
   // margin-bottom: 8px;
   border: 3px solid #FFF;
   // -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),inset 0px 3px 8px rgba(0, 0, 0, 0.3);
   // -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3),inset 0px 3px 8px rgba(0,0,0,0.3);
   // box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),inset 0px 3px 8px rgba(0, 0, 0, 0.3);
 
  }