<div>
<!-- <h1>Welcome TODO: placeholder missing</h1> -->
</div>
<div>
    <div class="row">
        <div class="column">
            <a [routerLink]="['/userdares']">
                <!-- <div class="circle"> -->
                    <div class="circleCircle"> <img  src="/taskordare-frontend/assets/questionMark.png" class="image" alt="questionMark">
                <!-- </div> -->
                <h1>Dares</h1>
                </div>
            </a>
        </div>
        <div class="column">
            <a [routerLink]="['/usergroups']">
                <!-- <div class="circle"> -->
                    <div class="circleCircle"><img src="/taskordare-frontend/assets/groups.png" class="image" alt="groups">
                <!-- </div> -->
                <h1>Groups</h1>
            </div>
        </a>
        </div>
        <div class="column">
            <a [routerLink]="['/usertasks']">
                <!-- <div class="circle"> -->
                    <div class="circleCircle"><img src="taskordare-frontend/assets/goal.png" class="image" alt="goals">
                <!-- </div> -->
                <h1>Tasks</h1>
                </div>
            </a>
        </div>
  </div>
</div>
<div>
</div>
